@import url('../../public-style/main.css');
* {
    box-sizing: border-box;
}



h3 {
    margin: 10px 0;
}

h6 {
    margin: 5px 0;
    text-transform: uppercase;
}

p {
    font-size: 14px;
    line-height: 21px;
}
.cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 70%;
}
.card-container {
    
    border-radius: 5px;
    background-color: var( --font-background);
  box-shadow: 
  5px 5px 30px   var(--shadow-color),
  -5px -5px 30px   var(--shadow-color);
    color: #231E39;
    padding-top: 15px;
    position: relative;
    width: 310px;
    max-width: 100%;
    text-align: center;
    margin:1rem;
    border-radius:1rem;
    padding: 8px;
    min-height: 25rem;
}

.card-container .pro {

    background-color: #FEBB0B;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 7px;
    position: absolute;
    top: 30px;
    left: 10px;
    color: white;
}

.card-container .round {
    border: 1px solid #03BFCB;
    border-radius: 50%;
    padding: 7px;
    background-size: cover;
    object-fit: cover;
    background-position:center;
    width: 5rem;
    margin: 0 auto;
    height: 5rem ;

}
.buttons{
    margin-top: 1rem;

}

button.primary {
    background-color: var( --font-background);
    box-shadow: 
    5px 5px 30px   var(--shadow-color),
    -5px -5px 30px   var(--shadow-color);
    border: 1px solid var( --font-color-border);
    border-radius: 3px;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    padding: 6px 10px;
}

button.primary.ghost {
    background-color: var( --font-background);
    box-shadow: 
    5px 5px 30px   var(--shadow-color),
    -5px -5px 30px   var(--shadow-color);
  
}

.skills {
    background-color: var( --font-background);
     box-shadow: 
     5px 5px 30px   var(--shadow-color),
     -5px -5px 30px   var(--shadow-color);
   
    text-align: left;
    padding: 8px;
    margin-top: 10px;
    min-height: 6.1rem;
    max-height: 6.1rem;
    overflow: hidden;
    padding-bottom: 0.5rem;
    border-radius: 0.5rem;
    padding-left: 0.6rem;
}

.skills ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.skills ul li {
 
    border: 1px solid var( --font-color-border);
    display: inline-block;
    font-size: 10px;
    margin: 0 7px 7px 0;
    padding: 7px;
    border-radius: 0.5rem;
   
}
.about__card{
    min-height: 8.5rem;
    max-height: 8.5rem;
    overflow: hidden;
    padding: 0.4rem;
    text-align:justify;
    padding-left: 0.6rem;
    font-size: 0.8em;
    
}
.about__card span{
    font-weight: bold;
    font-size: 1.1em;
}

@media (max-width:1100px) {
    .cards{
        width: 95%;
    }
}

@media (max-width:600px) {
    .cards{
        width: 95%;
    }
}
