@import url('../../public-style/main.css');

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Rubik', sans-serif;
}

body{
    z-index: -5;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.big__container {
    position: relative;
    z-index: 1; 
    display: flex;
    min-height: 120vh;
    height: auto;
    flex-direction: column;
    width: 100% !important;
    background-color: rgba(255, 255, 255, 0.7);
    padding-bottom: 2rem;
}

.sub__container {
    min-height: 80vh;
    height: auto;
    margin: 0.5rem auto 1rem;
    width:100% !important;
}



.nav__bar{
    left: 2%;
    top: 2%;
    position: fixed;
  
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 
    5px 5px 30px   var(--shadow-color),
    -5px -5px 30px   var(--shadow-color);
    padding: 0.5rem 0.2rem;
    border-radius: 0.5rem;
    min-height: 20vh;
    min-width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    backdrop-filter: blur(6px);
}
.nav__links{
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.nav___icons i{
    
    font-size: 1.7em;

}

.active_link i{
    color: rgb(235, 245, 255) !important;

}


.nav__links a{
    font-size:1.8em;
    margin: 0.2rem;
    color: var( --font-color-titles);
}

.active_link{
    background-color: var( --font-color-titles);
    color: #ffffff !important;
    border-radius: 0.4rem;
    min-width: 3rem;
    min-height: 3rem;
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}



/* =======Footer Style======== */
.footer{
    width: 98%;
    height: 18rem;
    margin: 0 auto;
    border-radius: 1rem;
    background-color: var( --font-background);
    box-shadow: 
    5px 5px 30px   var(--shadow-color),
    -5px -5px 30px   var(--shadow-color);
}
.footer__section1{
    height: 14rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.footer__logo{
    padding: 2rem;
    padding-top: 2rem;
    width: 45%;
    text-align: center;
    padding-top: 1rem;
}
.footer__logo h1{
    font-size: 3.5em;
}
.footer__logo h4{
    font-size: 1.5em;
}
.footer__pages{
    padding: 2.5rem;
    width: 20%;
    padding-top: 1rem;
}
.footer__pages h3{
    font-size: 2em;
    margin-bottom: 0.5rem;

}
.pages__links{
    display: flex;
    flex-direction: column;
}
.footer__pages__links{
    text-decoration: none;
  
    font-size: 1.5rem;
}
.footer__support{
    padding: 2.5rem;
    width: 35%;
    padding-bottom: 0;
    padding-top: 1rem;
}
.footer__support h3{
    font-size: 2em;
    margin-bottom: 0.5rem;
}
.support__message, .support__email{
    display: flex;
    flex-direction: column;
}
.support__message , .support__email label{
    font-size: 1.1em;

}
.support__email input{
    outline: none;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 
    5px 5px 30px   var(--shadow-color),
    -5px -5px 30px   var(--shadow-color);
    height: 3rem;
    width: 80%;

    background: none;
    font-size: 0.8em;
    padding-left: 0.3rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
.support__message textarea{
    height: 5.5rem;
    border: none;
    width: 80%;
    font-size: 0.8em;
    border-radius: 0.5rem;
    padding-left: 0.3rem;
    padding-top: 0.1rem;
    background: none;
    resize: none;
    outline: none;
    box-shadow: 
    5px 5px 30px   var(--shadow-color),
    -5px -5px 30px   var(--shadow-color);
    margin-top: 0.5rem;
}
.support__message textarea::-webkit-scrollbar {
    width: 8px;
    background-color: #ffffff; }

.support__message textarea::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #ddeaff;
}

.footer__section2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    width: 80%;
    margin: 0 auto;
}
.footer__social{
    width: 25%;
    display: flex;
    justify-content: space-around;
}
.social__icons{
    text-decoration: none;
   
    font-size: 1.6em;
}

@media screen and (max-width: 1024px) {
    .big__container{
        padding-bottom: 7rem;
    }
    /*====nav bar  */
    .nav__bar{
        padding: 0 1rem;
        position: fixed;
        top: unset;
        bottom: 2%;
        margin: 0 auto;
        flex-direction: row;
        min-height: 5vh !important;
        width: 80%;
        left: 50%;
        margin-left: -40%;

    }
    .active_link{
        height: 3rem;
        width: 3rem;
        max-height: 5rem !important;
    }
    .nav__links{
        height: 100%;
        width: 95%;
        display: flex;
        min-height: 4vh;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .nav__links a{
        font-size: 2.6em;
    }
}

@media screen and (max-width: 600px) {
    .big__container{
        min-width: none;
    }
    /*====nav bar  */
    .nav__bar{
        position: fixed;
        top: unset;
        bottom: 2%;
        margin: 0 auto;
        flex-direction: row;
        min-height: 4vh;
        width: 96%;
        left: 50%;
        margin-left: -48%;

    }
    .active_link{
        height: 2.8rem;
        width: 2rem;
        min-height: 4vh;

    }
    .nav__links a{
        font-size: 1.8em;

    }
    .nav__links{
        padding: 0.1rem;
        vertical-align: middle;
        align-items: center;

    }

    /* =======footer========= */
    .footer {
        height: auto !important;
    }

    .footer__section1 {
        flex-direction: column;
        height: auto;
        width: 100%;
    }

    .footer__logo h1 {
        font-size: 4em;
    }

    .footer__logo h4 {
        font-size: 1.8em;
    }

    .footer__pages h3 {
        font-size: 2.2em;

    }

    .pages__links a {
        font-size: 1.8em;

    }

    .footer__logo, .footer__pages, .footer__support {
        width: 100%;
        text-align: center;

    }

    .footer__support {
        width: 90%;
        margin: 0 auto;
        padding: 0.5rem;
    }

    .footer__support h3 {
        font-size: 2.2em;
    }

    .support__email input {
        outline: none;
        border: none;
        border-radius: 0.3rem;
        width: 100%;
        height: 3rem;
        margin: 0 auto;
        padding-left: 0.3rem;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
        font-size: 1em;
    }

    .support__message {
        margin-top: 0.5rem;

    }

    .support__message label, .support__email label {
        font-size: 1.5em;
    }

    .support__message textarea {
        height: 4rem;
        width: 100%;
        border: none;
        margin: 0 auto;
        font-size: 1em;
        border-radius: 0.3rem;
        margin-top: 0.5rem;
    }

    .footer__section2 {
        flex-direction: column-reverse;
        height: 3rem;
        width: 100%;
        margin-top: 2rem;;
    }

    .footer__social {
        width: 80%;
    }
}
