@import url('../../public-style/main.css');

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;

}

.border{
  border: 1px solid black;
}

.post__container{
width: 600px;
height: 370px;
display: flex;
flex-direction: row;
margin: 4rem 1.5rem;
border-radius: 15px;
/* filter: blur(10px); */
background-color: var( --font-background);
box-shadow: 
5px 5px 30px   var(--shadow-color),
-5px -5px 30px   var(--shadow-color);
/* background: #ffffff;
box-shadow:  4px 7px 40px #e7e7e7,
             -4px -7px 40px #f6f6f6; */

}




.post__sub-container-one{
width: 350px;
height: 100%;
display: flex;
flex-direction: column;
position: relative;

}

.post__sub-container-two{
  width: 240px;
  height: 96%;
  margin: 0.5rem auto;

  border-radius: 0.8rem 0.8rem ;
  background-color: var( --font-background);
  box-shadow: 
  5px 5px 30px   var(--shadow-color),
  -5px -5px 30px   var(--shadow-color);
  }
.post__image-container{
  width: 90%;
  height: 290px;
  margin: 0 auto ;
  border-radius: 1.2rem;
  /* position: absolute; */
  margin-top: -1rem;
  margin-bottom: 0.5rem;

}
.post__image{
  border-radius: 1.3rem;
  width: 100%;
  height: 100%;
}

.post__mini-detail{
  height: 30%;
  width: 100%;
  padding: 0.2rem 1rem;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
.budget__part{
  width: 30%;
  text-align: center;
}
.skills__part{
  width: 68%;
  overflow: hidden;
}

.skills__part span{
  display: inline-block;
  box-sizing: border-box;
 margin: 0.1rem;
 background-color: var( --font-background);
  box-shadow: 
  5px 5px 30px   var(--shadow-color),
  -5px -5px 30px   var(--shadow-color);
  border: 1px solid var( --font-color-border);
 padding: 0.2rem 0.4rem;
 font-size: 0.9em;
 text-align: center;
 border-radius: 0.3rem;
}

.post__many-detail {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.post__title{
  padding: 0.4rem;
}
.post__title{
  height: 60px;
}
.post__poster{
  height: 60px;
}
.post__description{
  height: 182px;
  padding: 0rem 0.4rem ;
}
.post__description-body{
  box-sizing: border-box;
  height: 160px;
  text-align: justify;
  padding: 0rem 0.8rem ;
  overflow-y: scroll;
    word-break: break-word;

}
.post__description-body::-webkit-scrollbar {
  width: 6px;
}
.post__description-body::-webkit-scrollbar-track {

border-radius: 10px;
}
.post__description-body::-webkit-scrollbar-thumb {
  background: rgb(212, 212, 212);
    border-radius: 10px;

}


.post__actions{
 height: 60px;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: flex-end;
 padding: 1rem;
}

.post__actions button, .btn__apply{
 height:1.6rem;
 width: 5.5rem;
 text-decoration: none;
 border: none;
 background: none;
 border-radius:0.5rem;
 outline: none;
 font-size: 1em;

 background-color: var( --font-background);
  box-shadow: 
  5px 5px 30px   var(--shadow-color),
  -5px -5px 30px   var(--shadow-color);
  border: 1px solid var( --font-color-border);
cursor: pointer;
margin: 0 0.1rem;
}
.post__avatar{
width: 60px;
height: 60px;
padding: 0.3rem;
}
.post__poster-avatar{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.post__poster-detail{
  display: flex;
  flex-direction: row;
}
.post__poster-name{
padding: 0.4rem 0.4rem 0rem 0.4rem ;
height: 40%;
}
.post__date{
  height: 50%;
  padding: 0.1rem 0.4rem ;
}

@media only screen and (max-width: 1024px) {
  .post__container {
    width: 85%;
  }
  .post__sub-container-two {
    width: 45%;
  }
  .post__sub-container-one {
width: 55%;
  }
  .post__image-container {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .post__container{
    flex-direction: column;
    width:90%;
    margin: 0 auto;
    height: auto;
    margin-top: 3rem;
  }
  .post__sub-container-two,.post__sub-container-one {
    width: 100%;
  }
  .post__sub-container-two {
    border-radius:0.5rem 0.5rem 1.2rem 1.2rem;
  }
  .post__image-container {
    width: 90%;
    height: 270px;
    margin-top: -2rem;
  }
  .post__mini-detail{
    height: auto;
  }
  .post__title {
    height: auto;
    margin: 0 1.2rem;
    max-height: 50px;
    margin-bottom: 0.5rem;
  }
  .post__title  h4{
  font-size: 1.1em;
  }
  .post__avatar{
    padding-left: 1.3rem;
    width: 80px;
  }
  .post__description {
    padding-left: 1.3rem;
    height: auto;
  }
  .post__description-body{
    height: 130px;
  }
}
