
@import url('../../public-style/main.css');
body{
  /* background: rgb(184,91,186);
  background: linear-gradient(15deg, rgba(184,91,186,1) 0%, rgba(158,158,255,1) 30%, rgb(5, 15, 160) 100%); */
  /* 
  background: #7F7FD5;
  background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
   background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); */
  
   /* background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); */
   background-color: rgb(228, 228, 228)
   
  
  }

  @import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
  
  
  @import url('https://fonts.googleapis.com/css2?family=Courgette&family=Merienda&display=swap');
  *{
    /* font-family: 'Merienda', cursive; */
    font-family: 'Courgette', cursive;
    
  }
  .sub__container{
    position: relative;
  }
  .sub__container .shapes{
   
    position: absolute;
    z-index: -5;
    height: 10rem;
    width: 10rem;
    border-radius: 55% 45% 70% 30% / 70% 61% 39% 30% ;
    background: rgb(34,193,195);
    background: linear-gradient(35deg, rgba(136, 50, 43, 0.1) 33%, rgb(252, 0, 0) 100%);
    top: 60%;
    animation: shape 900s infinite ease-in-out;
  }
  
  @keyframes shape {
    0%{
      top: 60%;
      right: 50%;
    }
    
    50%{
      top: 70%;
      right: 30%;
    }
    100%{
      top: 60%;
      right: 50%;
    }
  }
  
  .landing__container{
  /* border: 1px solid black; */
  min-height: 97vh;
  margin:  0 auto 1rem;
  border-radius: 1rem;
  background-color: rgb(255, 255, 255, 0.1);
  box-shadow:
   20px 20px  50px rgb(0, 0, 0,0.2)
   ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation: slide 25s infinite;
  width: 97%;
  padding: 8rem;
  margin-bottom: 4rem;
  }
  .welcome__message{
    width: 35rem;
    padding:8rem 0 0 0;
  }
  .welcome__message h1{
    font-size: 3em;
    color: white;
  }
  .welcome__message p{
    font-size: 1.9em;
    color: white;
  }
  
  
  .welcome__message button{
    border: none;
    background: none;
    outline: none;
    padding: 0.3rem 0.8rem;
    font-size: 2.5em;
    border-radius: 0.6rem;
    margin-top: 1rem;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(6px);
  }
  .welcome__message h1::before{
    content: '';
    animation: title infinite 25s;
  }
  
  .welcome__message p::before{
    content: '';
    animation: message infinite 25s;
  }
  
  
  @keyframes title { 
   
   0%{
     content: 'Web Development';
    }
    23.5%{
      content: 'Web Development';
    }
    25%{
      content: 'Video Editing';
    }
    48%{
      content: 'Video Editing';
    }
    50%{
      content: 'Mobile Development';
    }
    73%{
      content: 'Mobile Development';
    }
    75%{
      content: 'Graphic Design';
      
    }
    100%{
      content: 'Graphic Design';
 
      
    }
    
  }
  @keyframes message { 
   
   0%{
     content: 'You have experience developing websites and looking for projects to work on';
  }
  23.5%{
    content: 'You have experience developing websites and looking for projects to work on';
  }
  25%{
    content: 'Edit your own clips and add tons of professional effects to them with our creative professionals';
  }
  48%{
    content: 'Edit your own clips and add tons of professional effects to them with our creative professionals';
    }
    50%{
      content: 'Experts specializing in developing mobile applications to build distinctive applications';
    }
    73%{
      content: 'Experts specializing in developing mobile applications to build distinctive applications';
      
    }
    75%{
      content: 'You have a creative sense of design, you have a broad imagination and are looking for an opportunity';     
      
    }
    100%{
      content: 'You have a creative sense of design, you have a broad imagination and are looking for an opportunity';
      
    }
    
  }
  @keyframes slide { 
   
   0%{
     background-image: url(https://images.pexels.com/photos/6963942/pexels-photo-6963942.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  }
  23.5%{
    background-image: url(https://images.pexels.com/photos/6963942/pexels-photo-6963942.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  }
  25%{
    background-image: url(https://images.unsplash.com/photo-1490971512195-3385e8e72ab4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80);
  }
  48%{
    background-image: url(https://images.unsplash.com/photo-1490971512195-3385e8e72ab4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80);
    }
    50%{
      background-image: url(https://cdn.dribbble.com/users/2099699/screenshots/13867708/media/2727a7103cdf9ac0eeb0dfb87170b1d4.png?compress=1&resize=1000x750);
    }
    73%{
      background-image: url(https://cdn.dribbble.com/users/2099699/screenshots/13867708/media/2727a7103cdf9ac0eeb0dfb87170b1d4.png?compress=1&resize=1000x750);
      
    }
    75%{
      
      background-image: url(https://images.pexels.com/photos/4668739/pexels-photo-4668739.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    }
    100%{
      background-image: url(https://images.pexels.com/photos/4668739/pexels-photo-4668739.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
      
    }
    
  }
  .categories__container{
    width: 100%;
    padding-top: 1rem;
    margin-top: 5rem;
    background-color: rgba(255, 255, 255, 0.7);
    border:1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 
    5px 5px 30px   var(--shadow-color),
    -5px -5px 30px   var(--shadow-color);
    backdrop-filter: blur(8px);
    width: 97%;
    margin: 0 auto;
    border-radius: 1rem;
    padding:  1rem 2rem;
  }
  .categories__container h1{
    text-align: center;
    font-size: 3em;
    color: var( --font-color-titles);
  }
  .categories__container p{
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 1rem;
    color: var( --font-color-paragraph);
  }
  .landing__categories{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  
  }
    .category{
      width: 17rem;
      height: 22rem;
      box-shadow: 
      2px 2px 30px   rgb(0, 0, 0,0.1);
      border-radius: 1rem;
      margin: 1.5rem 0.5rem;
      position: relative;
      text-decoration: none;
    }
    .category:hover{
      transition: all ease-in-out 0.5s;
      transform: scale(1.1);
      cursor: pointer;
    }
    .effect__category{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 100%;
      height: 100%;
      background: rgb(2,0,36);
      background: linear-gradient(360deg, rgba(2,0,36,1) 10%, rgba(0,212,255,0) 50%);
      border-radius: 1rem;
      padding: 1rem;
    }
    .effect__category h3{
      font-size: 1.3em;
      color: rgb(255, 255, 255);
    }
    .effect__category p{
      font-size: 1.1em;
      color: rgb(255, 255, 255);
      height: 3rem;
      text-align: left;
    }
    .section1{
      background-image: url("https://images.unsplash.com/photo-1573090951046-c49b94d5621c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80");
      background-position: center;
      background-size: cover;
      object-fit: cover;
    }

    
  .section{
    width: 100%;
    height: auto;
  }
  .landing__sections{
    margin-top:5rem;
    min-height: 80vh;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: space-between;
    padding:3rem 1rem;
    min-height: 90vh;
  }
  
  .landing__sections-one,
  .landing__sections-two,
  .landing__sections-three,
  .landing__sections-four{
    /* border: 1px solid black; */
    width: 35.5%;
    height: 30rem;
    margin: 1rem;
    padding: 0.5rem;
    backdrop-filter: blur(11px);
  }
  .landing__sections-four,
  .landing__sections-one{
    /* background: rgb(255, 255, 255, 0.1); */
    padding: 2rem 1rem 1rem 2rem;
    height: 30rem;
    background-color: rgba(255, 255, 255, 0.7);
    border:1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 
    5px 5px 30px   var(--shadow-color),
    -5px -5px 30px   var(--shadow-color);
    border-radius: 1rem;
    
  }

  .landing__sections-one h1{
    font-size: 2.2em;
    margin-bottom: 1rem;
    color: var( --font-color-titles);
  }
  .landing__sections-one h4{
    font-size: 1.3em;
    margin-top: 1rem;
    color: var( --font-color-titles);
  }
  .landing__sections-one p{
    font-size: 1.1em;
    margin-top: 0.5rem;
    color: var( --font-color-paragraph);
  }
 
  .landing__part__two ,.landing__part__one{
    height: 34rem;
    width: 100%;
    padding: 1rem 3rem;
    border-radius: 1px solid black;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.7);
    border:1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 
    5px 5px 30px   var(--shadow-color),
    -5px -5px 30px   var(--shadow-color);
    border-radius: 1rem;
  }

  .landing__part__two{
    flex-direction: row-reverse;
    margin-top: 8rem;
  }
  .landing__sections-two,
  .landing__sections-three{
    height: 40rem;
    width: 50%;
  }
  
  .landing__sections-two{
   background-image: url('https://images.pexels.com/photos/3184306/pexels-photo-3184306.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500s');
   background-position: center;
   object-fit: cover;
   background-size: cover;
   height: 30rem;
   width: 55%;
   border-radius: 1rem;
   box-shadow: 
    5px 5px 30px   rgba(0, 0, 0, 0.1),
    -5px -5px 30px   rgba(255, 0, 212, 0.1);
  }
  .landing__sections-three{
   background-image: url('https://images.pexels.com/photos/1595385/pexels-photo-1595385.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
   background-position: center;
   object-fit: cover;
   background-size: cover;
   height: 30rem;
   width: 55%;
   border-radius: 1rem;
   box-shadow: 
    5px 5px 30px   rgba(0, 0, 0, 0.1),
    -5px -5px 30px   rgba(255, 0, 212, 0.1);
  }


  .landing__sections-three{
  
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
   
  }
  .landing__sections-six{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
  }
 
  
  .landing__shape-three{
    /* width: 70%;
    height: 80%; */
    box-shadow:  2px 2px 30px   rgb(0, 0, 0,0.1);
    border-radius: 66% 34% 60% 40% / 65% 21% 79% 35%  ;
    /* background: rgb(158,235,236);
    background: linear-gradient(35deg, rgba(158,235,236,0.1) 33%, rgba(45,253,149,1) 100%); */
  }
  
  @media (max-width: 1200px) {
    .landing__container{
      min-height: 50vh;
      width: 100%;
    }
  }
  @media (max-width: 1030px) {
    .landing__container{
      min-height: 50vh;
      width: 100%;
      padding-left: 6rem;
    }
    .welcome__message{
      padding-top: 2rem;
      width: 80%;
    }
    .welcome__message h1{
     font-size: 3.5em;
    }
    .welcome__message p{
     font-size: 2.5em;
    }
    .welcome__message button{
     font-size: 3.5em;
     margin-top: 3rem;
    }
  }
  
  @media (max-width: 768px) {

    .landing__container{
      min-height: 50vh;
      width: 100%;
      padding:2rem;
    }
    .welcome__message{
      padding-top: 2rem;
      width: 80%;
    }
    .welcome__message h1{
     font-size: 3.5em;
    }
    .welcome__message p{
     font-size: 2.5em;
    }
    .welcome__message button{
     font-size: 3.5em;
     margin-top: 3rem;
    }
  .landing__categories{
    flex-wrap: wrap;
  }
  .landing__part__two ,.landing__part__one{
    padding: 1rem;
    height: auto;
  }
  .landing__sections-one h1{
    font-size: 1.3em;
  }
  .landing__sections-one h4{
    font-size: 1em;
  }
  .landing__sections-one p{
    font-size: 0.8em;
  }
    .landing__sections{
    min-height: unset;
    margin-bottom:0 ;
    }
    .landing__sections-one,
    .landing__sections-two,
    .landing__sections-three,
    .landing__sections-four,
    .landing__sections-five,
    .landing__sections-six{
      width: 45%;
      height: 20rem;
  
    }
    
  }
  
  @media (max-width: 600px) {
    .landing__container{
      min-height: 35vh;
      width: 98%;
      padding: 1rem;
      margin: 0 auto;
      margin-top: 1rem;
    }
    
    .welcome__message{
      padding-top: 2rem;
      width: 100%;
    }
    .welcome__message h1{
     font-size: 1.9em;
     height: 3rem;
    }
    .welcome__message p{
     font-size: 1.7em;
    }
    .welcome__message button{
     font-size: 2.1em;
     margin-top: 3rem;
    }
    .categories__container{
      margin-top: 2rem;
    }
    .categories__container h1{
      font-size: 1.5em;
    }
    .categories__container p{
      font-size: 1.2em;
    }
    .landing__categories{
      flex-direction: column;
      align-items: center;
    }
    .landing__part__two ,.landing__part__one{
      padding: 1rem;
      flex-direction: column;
      width: 99%;
      margin-top: 2rem;
    }
  
  
  
  
    .landing__sections{
      margin-bottom: 3rem;
      width: 99%;
      margin: 0 auto;
      padding: 0.3rem;
    }
   
    .main{
      width: 100%;
      padding: 0;
      margin: 0.4rem;
    }
    .header{
      padding: 1rem 0.5rem;
    }
    .landing__sections-one,
  .landing__sections-two,
  .landing__sections-three,
  .landing__sections-four,
  .landing__sections-five,
  .landing__sections-six{
    
    width: 100%;
    height: 20rem;
    margin: 0 0 1rem 0;
    
  }
  .landing__sections-three{
    order: 3;
  }
  }
  
  